$mainBgColor: #E8E6E6;

// navbar
$navBgColor: #214866;
$navButtonBgColor: #214866;
$navButtonTextColorLighten: #fff;
$navButtonTextColorDarken: #000;
$navHoverLinkTextColor: #9EDCEF;
$navAddButtonHover: #63a8e0;

