<div class="create-order">
    <div class="container">
        <div class="inner">
            <h1>{{ 'centers.createOrder' | translate }}</h1>
            <div class="create-order-body">
                <h3 style="margin-bottom: 15px;">Information about order</h3>
            
                <form (ngSubmit)="createOrder()" [formGroup]="createOrderForm">
                    <div class="flex" style="gap: 15px;">
                        <div>
                            <p>Dog training center</p>
                            <div>
                                <input pInputText style="width: 300px" readonly [value]="createOrderForm.get('trainingCenter')?.value.name">
                            </div>
                            <div style="margin-top: 15px;">
                                <p>Chose dog</p>
                            </div>
                            <p-dropdown formControlName="dog" [style]="{width: '300px'}" [options]="userDogs" optionLabel="name"></p-dropdown>
                        </div>
                        <div style="flex: 1" class="flex flex-direction-column">
                            <div>
                                <p>Comment</p>
                            </div>
                            <div style="flex: 1">
                                <textarea formControlName="comment" pInputTextarea style="resize: none; width: 100%; height: 100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <button style="margin-top: 15px" pButton type="submit">Create order</button>
                </form>
            </div>
        </div>
    </div>
</div>